*{
    padding: 0;
    margin: 0;
}

.fun:hover {
    transform: scale(10, 18);
}


#head{
    width: 1000px;
    height: 58px;
    margin: 0 auto;
    background-color: #fa3148;
    border: 1px white solid;
    position: relative;
}

#head img,span{
    position: relative;
    color: white;
    left: 50px;
    top: 8px;
    vertical-align: middle;
}

a{
    padding: 10px;
    text-decoration: underline;
    color: white;

    display: inline-block;
    text-align: right;
    position: relative;
    right: -550px;
    top: 10px;
}

#content{
    width: 1000px;

    background: wheat;
    margin: 0 auto;
    border: 1px solid wheat;
}

#content h3{
    text-align: center;
    margin: 10px;
}

.box1 img{
    width: 180px;
    height: 250px;
}

.box1{
    width: 780px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

}

.movie{
    width: 190px;
    padding: 5px 0 0 0;

    background: #f6e1e9;
    text-align: center;
}

.box2{
    width: 780px;
    margin: 2px auto;

    display: flex;
    justify-content: space-between;
}

.block{
    width: 190px;
    padding: 5px 0 0 0;
    align-self: baseline;
    background: #f6e1e9;
    text-align: center;
}


#bottom{
    width: 1000px;
    height: 260px;
    margin: auto;
    background: darkred;
    border: 1px solid white;
    position: relative;
}

.word1{
    width: 500px;
    position: absolute;
    top: 70px;
    left: 60px;
}

.photo{
    position: absolute;
    top: 25px;
    right: 160px;
}

.line {
    position: absolute;
    width: 100%;
    height:1px;
    border:none;
    border-top:1px solid black;
    opacity: 30%;
    bottom: 40px;
}

.word2{
    position: absolute;
    bottom: 21px;
    left: 395px;
    font-size: 12px;
}
